
* {
    background-image: url(tae.png);
    box-sizing: border-box;
    background-attachment: fixed;
}

header {
    text-align: center;
    background-color: #df0c0c;
}
main {
    background-color: red;
}
.row::after {
    display: table;
    clear: both;
    }

img {
    display: block;
    object-fit: contain;
}

footer{
    text-align: center;
}